  p do
          text "Download and compile the "
          a "Squash Cocoa client library", href: 'https://github.com/SquareSquash/cocoa'
          text ", and add the compiled library and SquashCocoa.h files to your project. Add the library to your Link Binary With Libraries build phase, "
          code '#import "SquashCocoa.h"'
          text ", then configure Squash like so:"
        end

        cocoa_common