p do
          text "Download the "
          a "Squash Java client library", href: 'https://github.com/SquareSquash/java'
          text ", and follow the instructions in the README.md file."
        end

        p do
          text "To deobfuscate and improve your exception backtraces, download the "
          strong "squash_java_deobfuscator"
          text " gem. This gem installs a "
          code "deobfuscate"
          text " binary; call it in your build-and-release or deploy script."
        end

        p do
          text "To notify Squash of releases (public or internal), use the "
          code "squash_release"
          text " binary installed by the same gem."
        end